homework_1/.idea/.gitignore
homework_1/.idea/.name
homework_1/.idea/csv-plugin.xml
homework_1/.idea/misc.xml
homework_1/.idea/modules.xml
homework_1/.idea/Seminar_6_EN.iml
homework_1/.idea/inspectionProfiles/profiles_settings.xml
homework_1/dataIN/~$CoduriRomania.xlsx
.venv
dssa-project-workspace.code-workspace
/others/
/.venv/